*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::selection {
  background-color: rgba(254, 20, 10, 0.4);
}

:root {
  --securx-color: #fe140a;
  --grey: #5f7172;
}

button, ul, li, a {
  list-style: none;
  text-decoration: none;
  border: none;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

/* || Header */

header {
  position: relative;
  min-height: 8vh;
  z-index: 5;
}
nav  {
  display: flex;
  padding: 20px 10px; 
  justify-content: space-between;
  align-items: center;
}

nav .nav-links {
  display: flex;
  justify-content: space-around;
}

nav .nav-links li {
  display: inline-block;
  padding: 20px;
}

nav .nav-links li a {
  color: var(--nav-color);
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  padding: 6px 0;
  transition: 0.5s;
}

nav .nav-links li a:hover {
  color: #2c3e50b3;
}

nav .nav-links li a::after {
 position: absolute;
 content: '';
 top: 100%;
 left: 0;
 width: 95%;
 height: 3px;
 background: #3498db;
 transform: scaleX(0);
 transform-origin: right;
 transition: transform 0.5s;
}

nav .nav-links li a:hover::after {
 transform: scaleX(1);
 transform-origin: left;
}

nav .nav-links li:nth-child(2) a::after, 
nav .nav-links li:nth-child(2) a {
   transform: scaleX(1);
  transform-origin: left;
  pointer-events: none;
}

nav .burger {
  display: none;
  margin-right: 10px;
  width: 60px;
  height: 60px;
}

nav .nav-links.active  {
  visibility: visible;
  transition: visibility 400ms ease-in;
  transition-delay: 0.5s;
}

nav .nav-links.active li a  {
  color: #ecf0f1;
}

@media screen and (max-width: 960px) {

  nav .nav-links {

    position: absolute;
    display: flex;
    height: 60vh;
    top: 25vh;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    visibility: hidden;
    z-index: 20;
  }

  nav .burger.active::before{
    transform: scale(50);
    position: fixed;
    height: inherit;
    width: inherit;
  }

  nav .nav-links li {
    opacity: 0;
  }

  nav .burger {
    display: block;
    position: relative;
    z-index: 10;
  }  

  nav .burger::before {
    content: '';
    width: 99%;
    height: 99%;
    position: absolute;
    background: #1B4585;
    border-radius: 50%;
    transition: transform 400ms ease-in;
    z-index: -1;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* || Banner */

.container {
  max-width: 1100px;
  margin: 100px auto;
}

.container .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container .banner h1 {
  color: transparent;
  /* font-size: 3.5em; */
  font-size: clamp(3em, 5vw, 3.5em);
  background: linear-gradient(
    to left,
    #ffc3a0,
    #ffafbd,
    #da6b2b,
    #ffafbd,
    #ffc3a0
  );
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1;
  animation: animate 6s linear infinite;
  -webkit-background-size: 500%;
  background-size: 500%;
}
  
@keyframes animate {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.container .banner > p {
  color: #5f7172;
  margin: 20px 0;
  max-width: 650px;
}

.container .banner .list { 
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.container .banner .list p {
  padding: 10px 50px;
  text-transform: uppercase;
}

.container .banner .list p span {
  display: block;
  font-size: 3em;
  font-size: clamp(2em, 5vw, 3em);
  color: #293233;
  font-weight: 800;
}
.container .banner > span {
  color: #5f7172;
  font-size: 0.8em;
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  .container .banner p {
    padding: 0 5px;
  }

  .container .banner .list {
    flex-direction: column-reverse;
  } 

  /* .container .banner .list p span {
    font-size: 2em;
  } */
}

/* Gallery */

.container .gallery {
  margin: 30px 0;
  text-align: center;
}